 <!-- ╔═══════════════════════════════════════════╗
      ║  Author: NoteVibe Team                   ║
      ║  Owner:  Kartikeya Pandey                ║
      ║  Page:   Gitignore - Ignore all files    ║
      ╚═══════════════════════════════════════════╝ -->

.env